<h1>How much do you want to buy using bitcoins</h1>
<%= form_tag("/reserve", method: "get") do %>
  <%= text_field_tag(:amount) %>
  <%= submit_tag "Buy" %>
<% end %>

<h1>How much do you want to sell using bitcoins</h1>
<%= form_tag("/reserve", method: "get") do %>
    <%= text_field_tag(:amount) %>
    <%= submit_tag "Sell" %>
<% end %>


