<h1>Reserve your username</h1>
<%= form_tag("/reserve", method: "get") do %>
  <%= label_tag("youhou.co/") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag "Reserve" %>
<% end %>

<script>
  $(function() {
        var BV = new $.BigVideo();
  BV.init();
  BV.show("<%= request.protocol + request.host_with_port + asset_path('main-video.mp4') %>",{ambient:true});
  });
</script>
