<% if User.find_by_username(@username)%>
<span class="error"> <%="sorry 你慢了一步"%><br> </span>  

<%end%>

<%= form_tag("/reserve", method: "post") do %>
  <%= label_tag("youhou.co/") %>
  <%= text_field_tag(:username,@username) %>
  <br>
  
  <%= email_field_tag "email","Your email address"%>
  <br>
  <%= submit_tag "Reserve" %>
<% end %>

