<%if @username_flag%>
<span class="error"> <%="您晚了一步,请选择另一个用户名吧"%><br> </span>
  
<%elsif @email_flag%>
<span class="error"> <%="您是不是输错邮箱了?"%><br> </span>
 
<%else%>
  <%=User.all.each do |u|%>
	<%= u.username%>
	<%= u.email%>
  <%end%>
<%end%>


	